District Summary 
Total number of unique schools
Total students
Total budget
Average math score
Average reading score
% passing math (the percentage of students who passed math)
% passing reading (the percentage of students who passed reading)
% overall passing (the percentage of students who passed math AND reading)

In [2]:
import pandas as pd
import numpy as np

In [7]:
student_data = pd.read_csv("G:\CODE\Data Analytics Bootcamp\Data_Analytics\Class_Folder\M4_Data_Analysis_with_Python\challenge\pandas-challenge\PyCitySchools\Resources\students_complete.csv")
school_data = pd.read_csv("G:\CODE\Data Analytics Bootcamp\Data_Analytics\Class_Folder\M4_Data_Analysis_with_Python\challenge\pandas-challenge\PyCitySchools\Resources\schools_complete.csv")

school_data_full = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

school_data_full.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [19]:
uniques = school_data_full.nunique()
print(uniques)

schoolCount = uniques["school_name"]
studentCount = uniques["student_name"]
totalBudget = school_data["budget"].sum()
avgMathScore = school_data_full["math_score"].mean()
avgReadingScore = school_data_full["reading_score"].mean()
mathPassRate  = len(student_data[student_data["math_score"] >=70])/studentCount * 100 # (the percentage of students who passed math)
readPassRate  = len(student_data[student_data["reading_score"] >=70])/studentCount * 100 # (the percentage of students who passed math) # (the percentage of students who passed reading)
totPassRate  = len(student_data[(student_data["math_score"] >=70) & (student_data["reading_score"] >=70)])/studentCount * 100 # (the percentage of students who passed math) # (the percentage of students who passed math AND reading)
print(totPassRate)

Student ID       39170
student_name     32715
gender               2
grade                4
school_name         15
reading_score       37
math_score          45
School ID           15
type                 2
size                15
budget              15
dtype: int64
78.98537145774827
78.031484028733

In [21]:
districtSummaryDf = pd.DataFrame({
"schoolCount": [schoolCount],
"studentCount": [studentCount],
"totalBudget": [totalBudget],
"avgMathScore": [avgMathScore],
"avgReadingScore": [avgReadingScore],
"mathPassRate": [mathPassRate],
"readPassRate": [readPassRate],
"totPassRate": [totPassRate]
})
print(districtSummaryDf)

   schoolCount  studentCount  totalBudget  avgMathScore  avgReadingScore  \
0           15         32715     24649428     78.985371         81.87784

   mathPassRate  readPassRate  totPassRate
0     89.775332    102.735748    78.031484

School Summary
Perform the necessary calculations and then create a DataFrame that summarizes key metrics about each school.

Include the following:

School name

School type

Total students

Total school budget

Per student budget

Average math score

Average reading score

% passing math (the percentage of students who passed math)

% passing reading (the percentage of students who passed reading)

% overall passing (the percentage of students who passed math AND reading)