In [2]:
import pandas as pd
import numpy as np

In [ ]:
student_data_path = "G:\CODE\Data Analytics Bootcamp\Data_Analytics\Class_Folder\M4_Data_Analysis_with_Python\challenge\pandas-challenge\PyCitySchools\Resources\students_complete.csv"
school_data_path ="G:\CODE\Data Analytics Bootcamp\Data_Analytics\Class_Folder\M4_Data_Analysis_with_Python\challenge\pandas-challenge\PyCitySchools\Resources\schools_complete.csv"

In [3]:
student_data = pd.read_csv(student_data_path)
school_data = pd.read_csv(school_data_path)

school_data_full = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

school_data_full.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [4]:
uniques = school_data_full.nunique()
print(uniques)

Student ID       39170
student_name     32715
gender               2
grade                4
school_name         15
reading_score       37
math_score          45
School ID           15
type                 2
size                15
budget              15
dtype: int64
78.031484028733

In [ ]:
school_count = uniques["school_name"]
student_count = uniques["student_name"]
total_budget = school_data["budget"].sum()
avg_math_score = school_data_full["math_score"].mean()
avg_reading_score = school_data_full["reading_score"].mean()
math_pass_rate  = len(student_data[student_data["math_score"] >=70])/student_count * 100 # (the percentage of students who passed math)
read_pass_rate  = len(student_data[student_data["reading_score"] >=70])/student_count * 100 # (the percentage of students who passed math) # (the percentage of students who passed reading)
total_pass_rate  = len(student_data[(student_data["math_score"] >=70) & (student_data["reading_score"] >=70)])/student_count * 100 # (the percentage of students who passed math) # (the percentage of students who passed math AND reading)
print(total_pass_rate)
district_summary_df = pd.DataFrame({
"school_count": [school_count],
"student_count": [student_count],
"total_budget": [total_budget],
"avg_math_score": [avg_math_score],
"avg_reading_score": [avg_reading_score],
"math_pass_rate": [math_pass_rate],
"read_pass_rate": [read_pass_rate],
"total_pass_rate": [total_pass_rate]
})
print(district_summary_df)

In [6]:

# Average math score
# Average reading score
# % passing math (the percentage of students who passed math)
# % passing reading (the percentage of students who passed reading)
# % overall passing (the percentage of students who passed math AND reading)

In [83]:
school_size = school_data["size"]

schools = school_data_full["school_name"].unique()
avg_math_score = school_data_full.groupby(["school_name"]).mean()["math_score"] 
avg_reading_score = school_data_full.groupby(["school_name"]).mean()["reading_score"] 

per_school_passing_math = school_data_full[school_data_full["math_score"] >= 70].groupby(["school_name"]).count()["student_name"] 
per_school_passing_reading = school_data_full[(school_data_full["reading_score"] >= 70)].groupby(["school_name"]).count()["student_name"]
overall_passing_rate = school_data_full[(school_data_full["reading_score"] >= 70) & (school_data_full["math_score"] >= 70)].groupby(["school_name"]).count()["student_name"]

schools_summary=pd.DataFrame({
    "School Name": school_data["school_name"],
    "School Type": school_data["type"],
    "Total students": school_data["size"],
    "Total school budget": school_data["budget"],
    "Per student budget": school_data["budget"]/school_data["size"],
    
})

new_summary = pd.DataFrame.merge(schools_summary,avg_math_score,left_on="School Name", right_on="school_name")
new_summary = pd.DataFrame.merge(new_summary,avg_reading_score,left_on="School Name", right_on="school_name")
new_summary = pd.DataFrame.merge(new_summary,per_school_passing_math,left_on="School Name", right_on="school_name")
new_summary = pd.DataFrame.merge(new_summary,per_school_passing_reading,left_on="School Name", right_on="school_name")
new_summary = pd.DataFrame.merge(new_summary,overall_passing_rate,left_on="School Name", right_on="school_name")

new_summary.rename(columns = {'math_score':'Average Math Score', "reading_score":"Average Reading Score","student_name_x":"Per School Passing Math","student_name_y":"Per School Passing Reading","student_name":"Per School Passing Math and Reading"}, inplace = True)

new_summary["Per School Passing Math"] = new_summary["Per School Passing Math"]/school_size * 100
new_summary["Per School Passing Reading"] = new_summary["Per School Passing Reading"]/school_size * 100
new_summary["Per School Passing Math and Reading"] = new_summary["Per School Passing Math and Reading"]/school_size * 100

new_summary

# so much jank I'm sorry Lord

,School Name,School Type,Total students,Total school budget,Per student budget,Average Math Score,Average Reading Score,Per School Passing Math,Per School Passing Reading,Per School Passing Math and Reading
0,Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
1,Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
2,Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,93.867121,95.854628,89.892107
3,Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
4,Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
5,Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
6,Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
7,Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,54.642283
8,Holden High School,Charter,427,248087,581.0,83.803279,83.814988,92.505855,96.252927,89.227166
9,Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,90.540541
10,Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,93.333333,96.611111,90.333333
11,Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
12,Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,53.539172
13,Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,54.289887
14,Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,90.948012

In [86]:
top_schools = new_summary.sort_values(by=["Per School Passing Math and Reading"], ascending=False).head()

,School Name,School Type,Total students,Total school budget,Per student budget,Average Math Score,Average Reading Score,Per School Passing Math,Per School Passing Reading,Per School Passing Math and Reading
6,Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
14,Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
4,Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
5,Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
9,Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,90.540541

In [87]:
bottom_schools = new_summary.sort_values(by=["Per School Passing Math and Reading"]).head()

,School Name,School Type,Total students,Total school budget,Per student budget,Average Math Score,Average Reading Score,Per School Passing Math,Per School Passing Reading,Per School Passing Math and Reading
11,Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
1,Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
0,Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
3,Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
12,Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,53.539172

In [97]:
# math scores by grade
# Use the code provided to separate the data by grade
ninth_graders = school_data_full[(school_data_full["grade"] == "9th")]
tenth_graders = school_data_full[(school_data_full["grade"] == "10th")]
eleventh_graders = school_data_full[(school_data_full["grade"] == "11th")]
twelfth_graders = school_data_full[(school_data_full["grade"] == "12th")]

# Group by "school_name" and take the mean of each.
ninth_graders_scores = {"math_score":ninth_graders.groupby(["school_name"]).mean()["math_score"]}
tenth_graders_scores =  {"math_score":tenth_graders.groupby(["school_name"]).mean()["math_score"]}
eleventh_graders_scores =  {"math_score":eleventh_graders.groupby(["school_name"]).mean()["math_score"]}
twelfth_graders_scores =  {"math_score":twelfth_graders.groupby(["school_name"]).mean()["math_score"]}

# Use the code to select only the `math_score`.
ninth_grader_math_scores = ninth_graders_scores["math_score"]
tenth_grader_math_scores = tenth_graders_scores["math_score"]
eleventh_grader_math_scores = eleventh_graders_scores["math_score"]
twelfth_grader_math_scores = twelfth_graders_scores["math_score"]

# Combine each of the scores above into single DataFrame called `math_scores_by_grade`
math_scores_by_grade = pd.DataFrame({
    "Ninth":ninth_grader_math_scores,
    "Tenth":tenth_grader_math_scores,
    "Eleventh":eleventh_grader_math_scores,
    "Twelfth":twelfth_grader_math_scores,
})

# # Minor data wrangling
math_scores_by_grade.index.name = None

# # Display the DataFrame
math_scores_by_grade

                           Ninth      Tenth   Eleventh    Twelfth
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

In [100]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_full[(school_data_full["grade"] == "9th")]
tenth_graders = school_data_full[(school_data_full["grade"] == "10th")]
eleventh_graders = school_data_full[(school_data_full["grade"] == "11th")]
twelfth_graders = school_data_full[(school_data_full["grade"] == "12th")]

# Group by "school_name" and take the mean of each.
ninth_graders_scores = {"reading_score":ninth_graders.groupby(["school_name"]).mean()["reading_score"]}
tenth_graders_scores =  {"reading_score":tenth_graders.groupby(["school_name"]).mean()["reading_score"]}
eleventh_graders_scores =  {"reading_score":eleventh_graders.groupby(["school_name"]).mean()["reading_score"]}
twelfth_graders_scores =  {"reading_score":twelfth_graders.groupby(["school_name"]).mean()["reading_score"]}

# Use the code to select only the `reading_score`.
ninth_grader_reading_scores = ninth_graders_scores["reading_score"]
tenth_grader_reading_scores = tenth_graders_scores["reading_score"]
eleventh_grader_reading_scores = eleventh_graders_scores["reading_score"]
twelfth_grader_reading_scores = twelfth_graders_scores["reading_score"]

# Combine each of the scores above into single DataFrame called `reading_scores_by_grade`
reading_scores_by_grade = pd.DataFrame({
    "Ninth":ninth_grader_reading_scores,
    "Tenth":tenth_grader_reading_scores,
    "Eleventh":eleventh_grader_reading_scores,
    "Twelfth":twelfth_grader_reading_scores,
})

# Minor data wrangling
# reading_scores_by_grade = reading_scores_by_grade[["9th", "10th", "11th", "12th"]]
reading_scores_by_grade.index.name = None

# Display the DataFrame
reading_scores_by_grade

                           Ninth      Tenth   Eleventh    Twelfth
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

In [101]:
# Establish the bins 
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [102]:
# Create a copy of the school summary since it has the "Per Student Budget" 
school_spending_df = new_summary.copy()

In [110]:
# Use `pd.cut` to categorize spending based on the bins.
school_spending_df["Spending Ranges (Per Student)"] = pd.cut(x=school_spending_df["Per student budget"],bins=spending_bins,labels=labels)
school_spending_df

,School Name,School Type,Total students,Total school budget,Per student budget,Average Math Score,Average Reading Score,Per School Passing Math,Per School Passing Reading,Per School Passing Math and Reading,Spending Ranges (Per Student)
0,Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,53.513884,$645-680
1,Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476,$630-645
2,Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,93.867121,95.854628,89.892107,$585-630
3,Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,53.527508,$645-680
4,Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455,$585-630
5,Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,90.582567,<$585
6,Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769,<$585
7,Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,54.642283,$585-630
8,Holden High School,Charter,427,248087,581.0,83.803279,83.814988,92.505855,96.252927,89.227166,<$585
9,Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,90.540541,$585-630
10,Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,93.333333,96.611111,90.333333,<$585
11,Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,52.988247,$630-645
12,Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,53.539172,$645-680
13,Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,54.289887,$630-645
14,Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,90.948012,$630-645

In [113]:
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Math Score"]
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Reading Score"]
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["Per School Passing Math"]
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["Per School Passing Reading"]
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["Per School Passing Math and Reading"]
spending_summary = pd.DataFrame({
"Average math score": spending_math_scores,
"Average reading score": spending_reading_scores,
"Percent passing math ": spending_passing_math,
"Percent passing reading ": spending_passing_reading,
"Percent overall passing ": overall_passing_spending,
})

spending_summary

,Average math score,Average reading score,Percent passing math,Percent passing reading,Percent overall passing
Spending Ranges (Per Student),,,,,
<$585,83.455399,83.933814,93.460096,96.610877,90.369459
$585-630,81.899826,83.155286,87.133538,92.718205,81.418596
$630-645,78.518855,81.624473,73.484209,84.391793,62.857656
$645-680,76.997210,81.027843,66.164813,81.133951,53.526855

In [123]:
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

new_summary["Size Ranges (Per Student)"]= pd.cut(x=new_summary["Total students"], bins=size_bins, labels=labels)

school_size_df = new_summary.copy()

size_math_scores = school_size_df.groupby(["Size Ranges (Per Student)"]).mean()["Average Math Score"]
size_reading_scores = school_size_df.groupby(["Size Ranges (Per Student)"]).mean()["Average Reading Score"]
size_passing_math = school_size_df.groupby(["Size Ranges (Per Student)"]).mean()["Per School Passing Math"]
size_passing_reading = school_size_df.groupby(["Size Ranges (Per Student)"]).mean()["Per School Passing Reading"]
overall_passing_size = school_size_df.groupby(["Size Ranges (Per Student)"]).mean()["Per School Passing Math and Reading"]

size_summary = pd.DataFrame({
"Average math score": size_math_scores,
"Average reading score": size_reading_scores,
"Percent passing math ": size_passing_math,
"Percent passing reading ": size_passing_reading,
"Percent overall passing ": overall_passing_size,
})

size_summary

,Average math score,Average reading score,Percent passing math,Percent passing reading,Percent overall passing
Size Ranges (Per Student),,,,,
Small (<1000),83.821598,83.929843,93.550225,96.099437,89.883853
Medium (1000-2000),83.374684,83.864438,93.599695,96.790680,90.621535
Large (2000-5000),77.746417,81.344493,69.963361,82.766634,58.286003

In [126]:

new_summary
school_type_df = new_summary.copy()

type_math_scores = school_type_df.groupby(["School Type"]).mean()["Average Math Score"]
type_reading_scores = school_type_df.groupby(["School Type"]).mean()["Average Reading Score"]
type_passing_math = school_type_df.groupby(["School Type"]).mean()["Per School Passing Math"]
type_passing_reading = school_type_df.groupby(["School Type"]).mean()["Per School Passing Reading"]
overall_passing_type = school_type_df.groupby(["School Type"]).mean()["Per School Passing Math and Reading"]

type_summary = pd.DataFrame({
"Average math score": type_math_scores,
"Average reading score": type_reading_scores,
"Percent passing math ": type_passing_math,
"Percent passing reading ": type_passing_reading,
"Percent overall passing ": overall_passing_type,
})

type_summary

,Average math score,Average reading score,Percent passing math,Percent passing reading,Percent overall passing
School Type,,,,,
Charter,83.473852,83.896421,93.620830,96.586489,90.432244
District,76.956733,80.966636,66.548453,80.799062,53.672208